@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}
html{
    background-color: rgb(255, 220, 175);
}
nav {
    position:sticky;
    top: 0;
    background-color: orangered;
    height: 37px;
}

.box {
    display: flex;
    justify-content: space-evenly;
}

ul {
    display: flex;
    margin-left: -177px;
}

ul li {
    list-style: none;
    margin: 15px;
    margin-top: 8px;

}

a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
}
.logo img {
    border-radius: 13px;
}

.logot {
    margin-top: 1px;
    margin-left: 3px;
    font-size: 19px;
    color: white;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
}

.btn {
    background-color: orange;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: antiquewhite;
    margin-top: -4px;
    display: block;
}

.btn2 {
    margin: 15px;
    width: fit-content;
    align-self: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    font-size: 20px;
}

.first {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("interior.jpg");
    height: 750px;
    width: 98.9vw;
    background-size: cover;
}

.body1 > h1 {
    color: white;
    font-size: 79px;
    margin-top: 150px;
    text-shadow: black -4px 5px 2px;
}

h2 {
    color: white;
    text-shadow: black -4px 5px 2px;
}

.body1 {
    display: flex;
    flex-direction: column;
}

.head {
    margin: 50px;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 3px solid orangered;
    width: fit-content;
    margin: 50px auto 60px auto;
    padding: 3px;
}

.card {
    background-color: rgb(252, 182, 53);
    box-shadow: black -2px 2px 20px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card:hover{
    transform: translatey(-7px) translateX(3px); transition: 0.2s;
}

.btn3 {
    background-color: orange;
    padding: 6px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    color: antiquewhite;
    margin-bottom: 12px;
    margin-top: 7px;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;

}

.img img {
    border-radius: 20px;
    margin-bottom: 100px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.p2 {
    
    position:relative;
    z-index: 1;
    margin-top: -100px;
    margin-bottom: 35px;
}

.f {
    position: relative;
    z-index: 1;
    bottom: 280px;
    margin-right: 125px;
    background-color: orangered;
    border-top-right-radius: 14px;
}

.sec {
    height: 400px;
    display: flex;
    justify-content: space-around;
}

a:hover {
    color: orangered;
}

ul li a:hover{
    color:coral;
}
.t3{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 3px solid orangered;
    width: fit-content;
    margin: 30px auto 50px auto;
    padding: 3px;
}
.image{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: black -2px 2px 20px;
}
.t1{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: black -2px 2px 20px;
}
.image img{
    width: 350px;
    height: 250px;
    border-radius: 17px;
}
.four{
    height: 400px;
    width: 98.9vw;
    display: flex;
    justify-content: space-around;

}
.t2{
    width: 350px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: black -2px 2px 20px;
}
.btn5{
    width: fit-content;
    margin: 5px auto;

}
.third{
    height: 340px;
    width: 98.9vw;
    background-color: orangered;
    justify-content: center;
}
.link{
    height: 40px;
}
.t2{
    box-shadow: none;
    color: white;
}
.t4{
    border-bottom: 3px solid rgb(255, 220, 175);
    position: relative;
    top: 25px;
}
